.toc {
    margin: 20px 0;

    border: solid 2px;
    border-radius: 4px;
    border-color: var(--accent-color-darker);

    background-color: rgba(var(--accent-color-darker), 0.3);

    h2 {
        margin: 0;
        padding: 0;

        border: none;

        font-size: 1em;
        font-weight: 600;
        text-align: center;

        background-color: var(--accent-color-darker);
        color: white;

        i {
            padding-right: 8px;
        }
    }

    ol {
        padding: 0 10px 0 32px;

        li::marker {
            font-weight: 500;
            color: var(--card-text-color-secondary);
        }

        li {
            a {
                font-weight: 500;
                color: var(--card-text-color-secondary);
                text-decoration: underline;
            }
        }
    }
}
